TransactService/Service References/BankingServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52961/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52961/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52961/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankingService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DepositAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:DepositAmount" />
  </wsdl:message>
  <wsdl:message name="IService1_DepositAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WithdrawAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawAmount" />
  </wsdl:message>
  <wsdl:message name="IService1_WithdrawAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAmount" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AmountCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AmountCheck" />
  </wsdl:message>
  <wsdl:message name="IService1_AmountCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AmountCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DepositAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DepositAmount" message="tns:IService1_DepositAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DepositAmountResponse" message="tns:IService1_DepositAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WithdrawAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WithdrawAmount" message="tns:IService1_WithdrawAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WithdrawAmountResponse" message="tns:IService1_WithdrawAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewAmount" message="tns:IService1_ViewAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewAmountResponse" message="tns:IService1_ViewAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AmountCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AmountCheck" message="tns:IService1_AmountCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AmountCheckResponse" message="tns:IService1_AmountCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DepositAmount">
      <soap:operation soapAction="http://tempuri.org/IService1/DepositAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawAmount">
      <soap:operation soapAction="http://tempuri.org/IService1/WithdrawAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAmount">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AmountCheck">
      <soap:operation soapAction="http://tempuri.org/IService1/AmountCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52961/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>